@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500i,700&display=swap');


body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    background-color: #eee;
    height: auto;

}


img {
    display: block;
    width: 100%;
}

.instagram-icon {
    margin: 1rem;
}

.email-link {
    text-decoration: underline;
    color: black;
}

.page-title {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1rem;
    text-align: center;
    margin: 1.5rem 0 1.5rem 0;
}

.secondary-page-title {
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .2rem;
    text-align: center;
    margin: 1.5rem 0 1.5rem 0;
}

.no-display {
    display: none;
}

/*---------------------------- Navbar ---------------------*/
ul {
    list-style-type: none;
}

ul a {
    color: black;
    text-decoration: none;
}

.item {
    width: 100%;
    text-align: center;
    display: none;
    letter-spacing: .2rem;
    padding: 1rem;
    font-size: 1.5rem;
}

.item.active {
    display: block;
}

.toggle {
    flex: 1;
    text-align: right;
    margin-right: 1rem;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

/*------------------- Landing Page Section ------------------------*/

#landing {
    height: 100vh;
    background-image: 
        linear-gradient(
            rgba(0 ,0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
        ),
        url(../images/img4.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#landing-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    flex: 0 1 40vw;
}

.landing-btn {
    padding: 0.5rem 1rem;
    margin: 2rem 1rem 0 1rem;
    border: 1px white solid;
    display: inline-block;
    color: white;
    text-decoration: none;
    letter-spacing: .1rem;
    font-size: 1.1rem;
}

.site-title {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1rem;
    text-align: center;
}

.secondary-title {
    font-size: 1rem;
    font-weight: 400;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .2rem;
}

/*---------------------------------- Intro Section ----------------------*/

#about-section {
    text-align: center;
}

.about-text {
    padding: 1rem;
}

.about-title {
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1rem;
    text-align: center;
}


/*-----------------------------Contact Form------------------------------*/

#contact-container {
    margin: 1rem;
}

input[type=text], textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    box-sizing: border-box; 
}

.submit-btn {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: .5rem;
    padding: .5rem;
    text-transform: uppercase;
    margin-top: 1rem;
    background-color: black;
    color: white;
    border: none;
}
 
/*------------------------------ Footer ---------------------------------*/

footer {
    text-align: center;
}


.footer-links {
    display: flex;
    flex-direction: column;

}

.back-to-top {
    text-decoration: none;
    color: black;
    margin: 1rem;
}

.ig-icon {
    margin: 2rem;
    color: black;
}


/*---------------------------Media Queries----------------------*/

@media(min-width: 1024px){
    /*------Navbar-----*/
    .toggle {
        display: none;
    }

    .menu {
        flex-direction: row;
        flex-wrap: initial;
    }

    .item {
        display: inline;
        font-size: 1rem;
    }

    /*----About Section----*/
    .about-title {
        display: inherit;
    }

    #about-section {
        display: flex;
        margin: 2rem;
    }

    img {
        display: initial;
        vertical-align: middle;
        max-height: 20%;
        max-width: 20%;
    }
    .odd-img {
        height: 429.5px;
    }

    .about-text {
        text-align: justify;
    }

    /*-----Portraits-----*/
    .images-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        margin: 2rem;
        justify-content: center;
    }

    /*---Contact----*/
    #contact-container {
        margin: 2rem;
    }

    #contact-container p {
        text-align: center;
    }
}