@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500i,700&display=swap');


body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    background-color: #eee;
    height: 100%;

}


img {
    display: block;
    width: 100%;
}

.instagram-icon {
    margin: 1rem;
}

.email-link {
    color: black;
}

.page-title {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1rem;
    text-align: center;
    margin: 1.5rem 0 1.5rem 0;
}

.secondary-page-title {
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .2rem;
    text-align: center;
    margin: 1.5rem 0 1.5rem 0;
}

.no-display {
    display: none;
}


.back-to-top-div {
    text-align: center;
    padding: 1rem;
}
/*---------------------------- Navbar ---------------------*/

.marco-logo {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1rem;
    font-weight: 400;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
}

ul a {
    color: black;
    text-decoration: none;
}

.item {
    width: 100%;
    text-align: center;
    display: none;
    letter-spacing: .2rem;
    padding: 1rem;
    font-size: 1.5rem;
}

.item.active {
    display: block;
}

.toggle {
    flex: 1;
    text-align: right;
    margin-right: 1rem;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

/*------------------- Landing Page Section ------------------------*/

#landing {
    height: 100vh;
    background-image: 
        linear-gradient(
            rgba(0 ,0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
        ),
        url(../images/img4.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#landing-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    flex: 0 1 40vw;
}

.landing-btn {
    padding: 0.5rem 1rem;
    margin: 2rem 1rem 0 1rem;
    border: 1px white solid;
    display: inline-block;
    color: white;
    text-decoration: none;
    letter-spacing: .1rem;
    font-size: 1.1rem;
}

.site-title {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1rem;
    text-align: center;
}

.secondary-title {
    font-size: 1rem;
    font-weight: 400;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .2rem;
}

/*---------------------------------- Intro Section ----------------------*/

#about-section {
    text-align: center;
}

.about-text {
    padding: 1rem;
}

.about-title {
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1rem;
    text-align: center;
}

.about-text-div h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}


/*-----------------------------Contact Form------------------------------*/

#contact-container {
    margin: 1rem;
}

input[type=text], textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    box-sizing: border-box; 
}

.submit-btn {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: .5rem;
    padding: .5rem;
    text-transform: uppercase;
    margin-top: 1rem;
    background-color: black;
    color: white;
    border: none;
}
 
/*------------------------------ Footer ---------------------------------*/

footer {
    text-align: center;
}


.footer-links {
    display: flex;
    flex-direction: column;

}

.back-to-top {
    text-decoration: none;
    color: black;
    margin: 1rem;
}

.ig-icon {
    color: black;
    font-size: 1rem;
}

.instagram-icon {
    margin: 0;
    margin-right: 1rem;
}


.jorge-footer {
    font-size: 1rem;
}


/*---------------------------Media Queries----------------------*/

@media(min-width: 1024px){

    .back-to-top-div {
        text-align: center;
    }

    /*------Navbar-----*/
    .toggle {
        display: none;
    }

    .navbar {
        text-align: end;
        margin: 1rem 1rem 2rem 1rem;
        padding: 1rem;

    }

    li a {
        padding: 0.3rem;
    }

    li a:not(.marco-logo) {
        position: relative;

    }

    li a:not(.marco-logo):hover {
        color: #000;
    }

    li a:not(.marco-logo):before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #000;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out 0s ;
    }

    li a:not(.marco-logo):hover:before {
        visibility: visible;
        transform: scaleX(1);
    }

    .menu {
        display: initial;
    }

    .item {
        display: inline;
        font-size: 1rem;
    }

    .marco-logo {
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 1rem;
        font-weight: 400;
        text-transform: uppercase;
        float: left;
    }

    /*----About Section----*/
    .about-title {
        display: inherit;
    }
    
    #about-section {
        display: grid;
        grid-template-areas:
        "portrait aboutcontent"
        "footer footer";
        grid-template-rows: 20% auto 30%;
        grid-template-columns: 20% 50% 10%;
        justify-content: center;
    }

    .portrait-img-div {
        grid-area: portrait;
    }

    .about-text-div {
        grid-area: aboutcontent;
    }

    .about-text-div h1 {
        margin: 0;
        margin-left: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }

    .about-text {
        text-align: justify;
    }

    /*-----Portraits-----*/
    .images-container {
        /* display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        margin: 2rem;
        justify-content: center; */
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        justify-content: center;
    }

    /*---Contact----*/
    #contact-container {
        margin: 2rem;
    }

    #contact-container p {
        text-align: center;
    }

    /*-----Footer-----*/
    .jorge-footer {
        font-size: .7rem;
    }
}